<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="artistsForm" (ngSubmit)="addArtists()">
                <div class="form-group">
                    <label>Artist Name</label>
                    <input type="text" class="form-control" formControlName="artist_name">
                </div>

                <div class="form-group">
                    <label>profession</label>
                    <input type="text" class="form-control" formControlName="profession">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Artist Id</th>
                        <th>Artist Name</th>
                        <th>Profession</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of artistsData">
                        <td>{{x.artist_id}}</td>
                        <td>{{x.artist_name}}</td>
                        <td>{{x.profession}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group col-md-10 offset-1">
        <form [formGroup]="byIdArtistForm" (submit)="artistByIdForm();">
            <label>Select Artist</label>
            <select formControlName="artist_id" class="form-control">
                <option value="">select Artist</option>
                <option value="{{data.artist_id}}" *ngFor="let data of artistsData">{{data.artist_name}}</option>
            </select>
            <div class="form-group">
                <br />
                <button class="btn btn-primary">Get Data</button>
                <br />
                <table class="table" *ngIf="disp">
                    <thead>
                        <tr>
                            <th>Album Id</th>
                            <th>Album Name</th>
                            <th>Year</th>
                            <th>Title Id</th>
                            <th>Title Name</th>
                            <th>Artist Name</th>
                            <th>Profession</th>
                            <th>Genre Id</th>
                            <th>Genre Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of byIdArtistData">
                            <td>{{x.album_id}}</td>
                            <td>{{x.album_name}}</td>
                            <td>{{x.year}}</td>
                            <td>{{x.title_id}}</td>
                            <td>{{x.title_name}}</td>
                            <td>{{x.artist_name}}</td>
                            <td>{{x.profession}}</td>
                            <td>{{x.genre_id}}</td>
                            <td>{{x.genere_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>